In [1]:
import pandas as pd
import numpy as np

In [2]:
dataframe = pd.read_csv('ML_assignment02_dataset_2021.csv')
dataframe.head()

  Colour  Radius (cm)  Weight (grams) Fruit (class)
0  Green          4.3             122          Pear
1  Green          4.6             152          Pear
2  Green          3.1              85         Apple
3  Green          3.6             173          Pear
4  Green          2.5              65         Lemon

In [8]:
def del_duplicates(dataframe):
    df = dataframe.drop_duplicates(keep = 'first')
    print('DF after dropping duplicates : ', df)
    
    # writing to csv
    df.to_csv('Output_1.csv')
    return df

In [11]:
def class_mean(dataframe,col,label):
    return round(dataframe.loc[(dataframe['Fruit (class)']== label)&(dataframe[col].notna()),col].mean(),1)

def fill_values(dataframe):
    dataframe.replace(0,np.Nan,inplace=True)
    
    cols = dataframe.columns[dataframe.isna().any()].tolist() 
    labels = set(dataframe['Fruit(Class)'].tolist())
    
    for col in cols:
        for label in labels:
            dataframe.loc[dataframe[col].isna() & dataframe['Fruit (class)'==label],col]=dataframe.apply(lambda x : class_mean(dataframe,col,label),axis=1)
            
    print('Dataset after filling values ',dataframe)
    dataframe.to_csv('Output_2.csv')
    
    return dataframe

In [13]:
def transform_nominal(dataframe):
    
    df_nominal = pd.get_dummies(dataframe, columns = ["Colour"])
    
    print('Dataset after transforming nominal attributes ',df_nominal)
    df_nominal.to_csv('Output_3.csv')
    
    return df_nominal

In [14]:
def normalise_minmax(dataframe):
    columns = dataframe.select_dtypes(include=np.number).columns.to_list()
    
    for col in columns:
        dataframe[col]=round((dataframe[col]-dataframe[col].min())/(dataframe[col].max()-dataframe[col].min()),2)
    
    print('Dataset after minmax normalisation ', dataframe)
    dataframe.to_csv('Output_4.csv')
    
    return dataframe

In [17]:
df = del_duplicates(dataframe)

DF after dropping duplicates :      Colour  Radius (cm)  Weight (grams) Fruit (class)
0    Green          4.3             122          Pear
1    Green          4.6             152          Pear
2    Green          3.1              85         Apple
3    Green          3.6             173          Pear
4    Green          2.5              65         Lemon
5    Green          2.5              70         Apple
6    Green          2.7              73         Apple
7    Green          4.5             110          Pear
8    Green          2.5              86         Apple
9    Green          2.4              68         Lemon
10   Green          4.2             126          Pear
11     Red          3.7             101         Apple
12     Red          3.7             100         Apple
13     Red          3.4              80         Apple
14  Yellow          3.2              79         Apple
15  Yellow          3.1              69         Lemon
16  Yellow          2.1              64         Apple
17  Yellow          2.6              58         Lemon
18  Yellow          2.1              40         Lemon
19  Yellow          2.3              60         Lemon
20  Yellow          4.2             105          Pear
22  Yellow          3.2              64         Lemon
23  Yellow          2.9              53         Lemon
24  Yellow          4.1             135          Pear
25  Yellow          5.2             142          Pear
27  Yellow          0.0             137          Pear
28  Yellow          3.0              98         Apple
29  Yellow          2.4               0         Lemon
30  Yellow          4.1              56         Lemon
31  Yellow          4.1              80         Apple
32  Yellow          5.2             141          Pear
33  Yellow          0.0             135          Pear
34   Green          2.5               0         Apple

# My Solution

In [9]:
#importaing necessary modules
import csv 
import numpy as np
import matplotlib.pyplot as plt
from numpy import asarray
from numpy import savetxt

#reading the csv file into a numpy array
data = []
with open('ML_assignment02_dataset_2021.csv','r') as csv_file:
    reader = csv.reader(csv_file)
    next(reader)
    for row in reader:
        data.append(row)

data = np.array(data)
print(data)

#deleting duplicates data
def del_duplicate(data):
    new_data_set = np.unique(data, axis = 0)
    return new_data_set

data_set = del_duplicate(data)
savetxt('del_duplicate_set.csv', data_set, delimiter=',')
print(data_set)

#Replacing missing numerical data with the mean of the corresponding data
def calculate_mean(data_set, fruit_class, index):
    val = []
    for fruit in data_set:
        if fruit[3] == fruit_class:
            val.append(float(fruit[index]))
            
    val = np.array(val)
    mean = val.mean()
    return mean
 
 #Replacing missing numerical data with the mean of the corresponding data
def fill_values(data_set):
    fruit = []
    for fruit in data_set:
        missing_data = np.where(fruit == '0')
        if missing_data[0].size >= 1:
            missing_value = calculate_mean(data_set, fruit[3], missing_data[0][0])
            fruit[missing_data[0][0]] = missing_value
    return fruit
    
filled_values_data = data_set.copy()
fill_values(filled_values_data)
print(filled_values_data)

##Transform nominal attributes to numerical values  
def transform_nominal(filled_values_data):
    #color codes:
    #Green 1 0 0
    #Yellow 0 1 0
    #Red 0 0 1
    trans_nom_num = []
    for fruit in test_data:
        if fruit[0] == 'Green':
            fruit = ['1', '0', '0', fruit[1], fruit[2], fruit[3]]
        elif fruit[0] == 'Yellow':
            fruit = ['0', '1', '0', fruit[1], fruit[2], fruit[3]]
        else: #Red
            fruit = ['0', '0', '1', fruit[1], fruit[2], fruit[3]]
        trans_nom_num.append(fruit)
    trans_nom_num = np.array( trans_nom_num)
    return trans_nom_num
 
transformed_data = transform_nominal(filled_values_data)
print(transformed_data)

#Min max normalization 
def normalize_minmax(filled_values_data):
    
    row_len = filled_values_data[1,:].size
    
    radius = filled_values_data[:,row_len - 3]
    radius = radius.astype(np.float)
    radius_max = np.amax(radius)
    radius_min = np.min(radius)
    radius_dif = radius_max - radius_min
    
    
    weight = filled_values_data[:,row_len - 2]
    weight = weight.astype(np.float)
    weight_max = np.amax(weight)
    weight_min = np.min(weight)
    weight_dif = weight_max - weight_min
    
    feature_min = [radius_min, weight_min]
    feature_min = np.array(feature_min)
    feature_dif = [radius_dif, weight_dif]
    feature_dif = np.array(feature_dif)
    
    nor_min_max = []
    
    for fruit in filled_values_data:
        for i in range(2):
            fruit[i+1] = (float(fruit[i+1])-feature_min[i])/feature_dif[i]
        nor_min_max.append(fruit)
        
    nor_min_max = np.array(nor_min_max)
    return nor_min_max  
 
 
nor_min_max = normalize_minmax(filled_values_data)
print(nor_min_max)

[['Green' '4.3' '122' 'Pear']
 ['Green' '4.6' '152' 'Pear']
 ['Green' '3.1' '85' 'Apple']
 ['Green' '3.6' '173' 'Pear']
 ['Green' '2.5' '65' 'Lemon']
 ['Green' '2.5' '70' 'Apple']
 ['Green' '2.7' '73' 'Apple']
 ['Green' '4.5' '110' 'Pear']
 ['Green' '2.5' '86' 'Apple']
 ['Green' '2.4' '68' 'Lemon']
 ['Green' '4.2' '126' 'Pear']
 ['Red' '3.7' '101' 'Apple']
 ['Red' '3.7' '100' 'Apple']
 ['Red' '3.4' '80' 'Apple']
 ['Yellow' '3.2' '79' 'Apple']
 ['Yellow' '3.1' '69' 'Lemon']
 ['Yellow' '2.1' '64' 'Apple']
 ['Yellow' '2.6' '58' 'Lemon']
 ['Yellow' '2.1' '40' 'Lemon']
 ['Yellow' '2.3' '60' 'Lemon']
 ['Yellow' '4.2' '105' 'Pear']
 ['Yellow' '2.1' '40' 'Lemon']
 ['Yellow' '3.2' '64' 'Lemon']
 ['Yellow' '2.9' '53' 'Lemon']
 ['Yellow' '4.1' '135' 'Pear']
 ['Yellow' '5.2' '142' 'Pear']
 ['Yellow' '2.3' '60' 'Lemon']
 ['Yellow' '0' '137' 'Pear']
 ['Yellow' '3' '98' 'Apple']
 ['Yellow' '2.4' '0' 'Lemon']
 ['Yellow' '4.1' '56' 'Lemon']
 ['Yellow' '4.1' '80' 'Apple']
 ['Yellow' '5.2' '141' 'Pear']
 ['Yellow' '0' '135' 'Pear']
 ['Green' '2.5' '0' 'Apple']]

TypeError: Mismatch between array dtype ('<U6') and format specifier ('%.18e,%.18e,%.18e,%.18e')