## Mean

In [2]:
import numpy as np
import math
x = np.array([81,6,30,48,48,3,31,4,26,28,14,1])
Summation_x = sum(x)
n = len(x)
mean = Summation_x/n
mean

26.666666666666668

## Meadian

In [3]:
import numpy as np

In [4]:
x = np.array([23,1,33,23,48,53,30,24,39,1])

In [5]:
x_sorted = np.sort(x)

In [6]:
print(x_sorted)

[ 1  1 23 23 24 30 33 39 48 53]

## Argmin & Argmax

In [7]:
import numpy as np

In [8]:
arr = np.array([-1,-0.5,0,0.5,1])

In [9]:
y = 1 + np.exp(arr)

In [10]:
y

array([1.36787944, 1.60653066, 2.        , 2.64872127, 3.71828183])

# Coding part

In [11]:
from datetime import datetime

class User: 
    def __init__(self,firstname,dateOfBirth):
        self.firstname = firstname
    
        self.dateOfBirth = datetime.strptime(dateOfBirth, "%d-%m-%Y")
    
    def getFirstname(self):
        return self.firstname
    
    def setFirstname(self,firstname):
        self.firstname = firstname
        
    def getAge(self):
        currentYear = datetime.now().year
        return currentYear - self.dateOfBirth.year

In [12]:
user1 = User("Azeddine", "01-01-1998")
user1_firstname = user1.getFirstname()
user1_age = user1.getAge()

print("User 1 --->Firstname: {0} --- Age: {1}".format(user1_firstname, user1_age))

user1.setFirstname("Zeyd")
user1_firstname = user1.getFirstname()

print("User 1 ---> New firstname: {0}".format(user1_firstname))

User 1 --->Firstname: Azeddine --- Age: 25
User 1 ---> New firstname: Zeyd

In [13]:
import pandas as pd
df = pd.read_csv("data.csv")
df = pd.DataFrame(df, columns = ['y_original','y_predicted'])
df['sqrt(y)'] = df['y_original']**(0.5)
df

     y_original  y_predicted    sqrt(y)
0      3.888889     5.717660   1.972027
1      4.555556     6.365723   2.134375
2      5.222222     7.013786   2.285218
3      5.888889     7.661848   2.426703
4      6.555556     8.309911   2.560382
..          ...          ...        ...
295  200.555556   196.896143  14.161764
296  201.222222   197.544205  14.185282
297  201.888889   198.192268  14.208761
298    1.888889   198.840331   1.374369
299    1.888889   199.488393   1.374369

[300 rows x 3 columns]