In [15]:
import pandas as pd
import numpy as np
import math 
from math import sqrt,pi,e

In [16]:
df = pd.DataFrame({
    'income' : [157434,261952,144657,118777,147511,163025,120131,162745,155569],
    'education' : [0,2,0,1,1,2,0,0,1]
})
df

   income  education
0  157434          0
1  261952          2
2  144657          0
3  118777          1
4  147511          1
5  163025          2
6  120131          0
7  162745          0
8  155569          1

In [17]:
def gauss_distribution(mu,sigsquare,x):
    return(1/sqrt(2*pi*sigsquare)*e**((-0.5)*(x-mu)**2)/sigsquare)

In [18]:
mu1 = 188014.34
sigma1 = 52541.39
x1 = 162745

sigsquare1 = pow(sigma1,2)

f_x1_mu1_sigma1 = gauss_distribution(mu1,sigsquare1,x1)

f_x1_mu1_sigma1

0.0